.circular--square {
  border-radius: 50%;
}

body {
  margin: 5% auto;
  background: #2c2c2c;
  color: #BBBBBB;
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  line-height: 1.6;
  text-shadow: 0 0px 0 #000000;
  max-width: 42em;
  padding: 2% 5%;
}

a {
  border-bottom: 0px solid #9e3c3c;
  color: #bf7575;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

h1,
h2,
h3 {
  line-height: 1.2;
}